* {
    box-sizing: border-box;
}

:root {
    --main-text-color: rgb(243, 243, 243);
    --main-accent-color: rgb(0, 89, 255);
    --secondary-bg-color: rgb(63, 63, 63);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: var(--main-text-color);
    background-image: url("/images/ep_naturalblack.png");
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

header {
    height: 40px;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

p {
    text-align: center;
}

.wrapper {
    max-width: 1200px;
}

.btn-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.button {
    min-width: 300px;
    min-height: 300px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url('/images/zwartevilt.png');
}

.icon {
    max-width: 200px;
    filter: invert(100%);
}

.results-log {
    border: 2px solid white;
    display: flex;
}

.score {
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.log-header {
    background-color: var(--secondary-bg-color);
    text-align: center;
    border: 1px solid white;
    padding: 5px;
}

.log-item {
    border: 1px solid white;
    text-align: center;
    padding: 5px;
}

.reset-game {
    background-color: pink;
    border: 1px solid white;
    color: black;
    border-radius: 10px;
    width: 70px;
    margin: 20px;
    display: none;
    justify-content: center;
    cursor: pointer;
}

.game-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bestof-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}

.bestOf {
    font-size: 24px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.selected-bo {
    background-color: var(--main-accent-color);
}